<h2>Subscriptions</h2>

<p>Create and manage recurring subscriptions. <strong>4242424242424242</strong></p>

<hr>


<h3>Step 1: Add a Payment Source</h3>

<payment-form [totalAmount]="0" (stripeResult)="setSource($event)"></payment-form>

<h4>Or choose an existing payment source</h4>

<user-sources [canSelect]="true" (selectedSource)="setSource($event)"></user-sources>


<h3>Step 2: Activate a Plan</h3>

<div class="notification">
  Selected Payment Source: {{ sourceId || 'none' }}
</div>

<div class="columns">
  <div class="column is-6">
    <h4>Gold Plan</h4>
    <h1>$25.99 /m</h1>
    <img src="/assets/gold.png">

    <subscription-plan [planId]="'gold-plan'" [sourceId]="sourceId"></subscription-plan>
  </div>

  <div class="column is-6">
    <h4>Silver Plan</h4>
    <h1>$9.99 /m</h1>
    <img src="/assets/silver.png">
    
    <subscription-plan [planId]="'silver-plan'" [sourceId]="sourceId"></subscription-plan>
  </div>
</div>

<hr>


<p>Component Usage: <code>&lt;subscription-plan [planId]=&quot;'silver-plan'&quot; [sourceId]=&quot;sourceId&quot;&gt;&lt;/subscription-plan&gt;</code></p>

<p>Pass the subscription plan a stripe source ID and plan ID. It will create the subscription and attach it to the customer and update the Firestore user profile.</p>

<hr>